@page "/editgame"
@page "/editgame/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject GamesClient gamesClient
@inject GenresClient genresClient

<PageTitle>New Game</PageTitle>
<h3>@title</h3>

@if (genres is null || Game is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Game" FormName="editGameForm" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary />
                <div class="mb-3">
                    <label for="name" class="form-label">Name :</label>
                    <InputText id="name" class="form-control" @bind-Value="Game.Name" />
                    <ValidationMessage For="@(() => Game.Name)" />
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre :</label>
                    <InputSelect id="genre" class="form-select" @bind-Value="Game.GenreId">
                        <option value="">-- Select Genre --</option>
                        @foreach (var genre in genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Game.GenreId)" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price :</label>
                    <InputNumber id="price" class="form-control" @bind-Value="Game.Price" />
                    <ValidationMessage For="@(() => Game.Price)" />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Release Date :</label>
                    <InputDate id="date" class="form-control" @bind-Value="Game.ReleaseDate" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/" class="btn btn-secondary ms-2">Cancel</a>
            </EditForm>
        </div>
    </div>
}


@code {

    [Parameter]
    public int? Id { get; set; }   

    [SupplyParameterFromForm]
    public GameDetails? Game { get; set; }
    private string title = "New Game";

    private Genre[]? genres;

    override protected void OnParametersSet()
    {
        if(Game is not null)
        {
            return;
        }
        if (Id is not null)
        {
            Game = gamesClient.GetGameDetails(Id.Value);
            title = "Edit " + Game.Name;
        }
        else{
            Game = new GameDetails()
            {
                Name = string.Empty,
                ReleaseDate = DateOnly.FromDateTime(DateTime.Now),
            };
        }
    }

    override protected void OnInitialized()
    {
        genres = genresClient.GetAllGenres();
    }

    private void HandleValidSubmit()
    {
        ArgumentNullException.ThrowIfNull(Game);
        if(Id is not null)
        {
            Game.Id = Id.Value;
            gamesClient.UpdateGame(Game);
        }
        else
        {
            gamesClient.AddGame(Game);
        }
        NavigationManager.NavigateTo("/");
    }

    
}